* {
  margin: 0;
  padding: 0;
}

/* ---------------------NavBar------------------------- */
header {
  height: 75px;
  background-color: black;  
}

#logo-img {
  width: 300px;
}

#nav-tags {
  font-size: 16px;
}

.nav-button {
  color: aqua;
}

/* Content */
#content-top {
  margin-top: 250px;
  margin-bottom: 250px;
}

.text-edit {
  color: white;
  font-size: 20px;
}

.line-blue-background {
  background-image: url(/style/imgs/blue_Line.png);
  background-position: right;
  background-repeat: no-repeat;
}

.line-gray-background {
  background-image: url(/style/imgs/gray_blue_Line.png);
  background-position: left;
  background-repeat: no-repeat;
}

/* -------------------parallax effect-------------------- */
#content {
  background-color: black;
  padding: 60px 80px;
}

.parallax-division {
  background-color: black;
}

.content-parallax1 {
  background-image: url(/style/imgs/sobre.jpg);
}

.content-parallax2 {
  background-image: url(/style/imgs/martech.jpg);
}

.content-parallax3 {
  background-image: url(/style/imgs/recebiveis.jpg);
}

.content-parallax4 {
  background-image: url(/style/imgs/contapf.jpg);
}

.content-parallax5 {
  background-image: url(/style/imgs/contapj.jpg);
}

.content-parallax1, .content-parallax2, .content-parallax3, .content-parallax4, .content-parallax5 {
  position: relative;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* ----------------------------------------------------- */

.mkt-color {
  color: #6ECBD2;
}

.img-config {
  width: 160px;
  margin-right: 10px;
}

/* ---------------------------------------------------Footer--------------------------------------------------- */
.footer-container {
  margin-top: 20px;
}

.footer-text h1 {
  font-size: 14px;
}

#center-footer {
  margin-top: 35px;
}

#right-footer {
  margin-top: 35px;
}

/* -------------------------------------------------Animações-------------------------------------------------- */
[data-anima]{
  opacity: 0%;
  transition: 1s;
}

[data-anima="esquerda"]{
  transform: translate3d(-50px,0,0);
}

[data-anima="direita"]{
  transform: translate3d(50px,0,0);
}

[data-anima="cima"]{
  transform: translate3d(0,50,0);
}

[data-anima="baixo"]{
  transform: translate3d(0,-50px,0);
}

[data-anima].animacao{
  opacity: 1;
  transform: translate3d(0,0,0);
}

